html
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
}

body
{
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}

div#header
{
    padding: 30px 0 0;
    height: 70px;
    background-color: #CA6259;
    color: wheat;
    text-align: center;
}

    div#header h1
    {
        margin: 0;
        font-size: 30pt;
    }

div#content
{
    padding-bottom: 60px;
    background-color: #3D4935;
}

    div#content ul#menu
    {
        float: left;
        margin: 0;
        padding: 0;
        width: 150px;
        background-color: red;
    }

        div#content ul#menu li
        {
            height: 25px;
            width: 150px;
            background-color: #C19E82;
        }

    div#content div#mainView
    {
        padding: 10px;
        margin-left: 150px;
        background-color: wheat;
        text-indent: 2em;
    }

div#footer
{
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 20px 0 10px;
    height: 30px;
    width: 100%;
    background-color: #969577;
    color: #E6F1F5;
    text-align: center;
}
